<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
  <a>GGK Tech</a>
  <a class="active" routerLink="/view" routerLinkActive="active">View Employee</a>
  <a class="active" routerLink="/sign" routerLinkActive="active">Add Employee</a>
  <div class="topnav-right">
    <a routerLink="/view" routerLinkActive = "active" ><i class="fa fa-gitlab" style="font-size:17px;color:navy"></i></a>
    <a><i class="fa fa-youtube-play" style="font-size:17px;color:navy"></i></a>
    <a><i class="fa fa-facebook-square" style="font-size:17px;color:navy"></i></a>
  </div>
</div>
<router-outlet></router-outlet>